.form {
  position: relative;
  width: 200px;
}

.form input {
  width: 70%;
  margin-left: 30px;
  padding: 10px;
  height: 35px;
  border: white;
  border-radius: 10px;
  box-sizing: border-box;
  outline: 0;
}

.form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 35px;
  border: none;
  cursor: pointer;
  background: rgb(210, 0, 0);
  color: white;
  padding: 0 12px;
  border-radius: 0 5px 5px 0;
}

.form img {
  width: 20px;
}

.form button:hover {
  background: rgb(255, 255, 255);
  transition: 0.5s;
}
