.button {
  display: flex;
  justify-content: center;
}

.button button {
  padding: 10px;
  margin: 30px;
  width: 150px;

  background-color: red;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 1px solid black;
}

.button button:hover {
    background-color: white;
    color: red;
    cursor: pointer;
    transition: 0.5s;
}
