.footer {
  width: 100%;
  height: 100px;
  

  background-color: rgba(10, 10, 10);
  border-top: 3px solid #cd070700;
}

.footer nav {
    margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & a {
    color: white;
    text-decoration: none;
    
  }

  & a:hover {
    text-decoration: underline;
  }
}

.footer p {
  color: rgba(255, 255, 255, 0.521);
  font-size: 0.7em;
  margin: 10px;
  text-align: center;
}
