.info {
  width: 50em;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  margin: auto;

  background: rgba(29, 29, 29, 0.547);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

.left {
  background: rgba(255, 255, 255, 0);
  padding: 10px;

  & img {
    margin-top: 15px;
    width: 200px;
    border: 0.5px solid rgb(255, 255, 255);
  }

  & p {
    color: rgba(245, 245, 245, 0.544);
  }

  & span {
    color: whitesmoke;
    text-decoration: underline;
  }
}

.right {
  background: rgba(255, 255, 255, 0.088);
  padding: 20px;

  & p {
    width: 360px;
    text-align: justify;
  }

  & iframe {
    margin-top: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0);
  }
}

.review {
  width: 30em;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  background: rgba(29, 29, 29, 0.547);
  margin: auto;

  & form {
    padding: 25px;

    margin: auto;
  }
}

.text {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
  margin: 50px;
  border-radius: 10px;

  & input {
    background: rgba(255, 255, 255, 0.088);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    border: 1px solid whitesmoke;
  }

  & button {
    font-size: 10px;
    margin: -10px;
    color: rgb(255, 255, 255);
    background: rgb(194, 0, 0);
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
  }
}

.banner {
  width: 1000px;
  overflow: hidden;
  margin-bottom: 20px;
  display: block;

  -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 20%,
      black 80%,
      transparent
    ),
    linear-gradient(to top, black 75%, transparent),
    linear-gradient(to bottom, black 85%, transparent);

  -webkit-mask-composite: intersect;
  mask-image: linear-gradient(
      to right,
      transparent,
      black 20%,
      black 80%,
      transparent
    ),
    linear-gradient(to top, black 75%, transparent),
    linear-gradient(to bottom, black 45%, transparent);

  mask-composite: intersect;
}
