.container {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: black;
  height: 87.9vh;
}

.container h1 {
    color: rgb(167, 0, 0);
    font-size: 6em;
}

.container h2 {
    color: white;
    font-size: 2em;
}
