.banner {
  width: 100%;
  height: 550px;
  top: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

.banner article {
  margin: 0;
  width: 600px;
  color: whitesmoke;
  text-align: start;
  padding: 20px;
  font-size: 1.4em;
}
